<!-- delete 같은 것을 함수명으로 쓰면 안된다. 예약어라서. 메이플 자리요 같은 개념-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
           crossorigin="anonymous">

<!-- JS -->
       <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
           crossorigin="anonymous"></script>

<!-- 구글폰트 -->
       <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

       <!-- head 는 타이틀, 메타태그, 스타일시트(표시되지 않는 부분)
body는 본문영역(자바스크립트 영역) -->
    
    <title>나홀로 메모장 2.0</title>


    <style>
             * {
        font-family: 'Jua', sans-serif;
        }

        .wrap{
            width:900px;
            margin:auto;
        }


        .form-group{
            width:400px;
        }
    </style>

    <script>
    $(document).ready(function () {
            $("#cards-box").html("");
            show();
            });


        // 입력된 데이터 읽기
        function readMemo(){
            // id 값이 memo-title 인 곳을 가리키고, val() 로 값을 가져온다
            let title = $('#memo-title').val();
            let content = $('#memo-content').val()
            $.ajax({
                type: 'POST',
                url: '/memo/read/',
                data:{title_give:title, content_give:content},
                success: function (response) {
                if (response['result'] == 'success') {
                    alert("메모 불러오기 성공");
                    window.location.reload();
                    } else {
                        alert('서버오류')
                    }
                }
            })
        }

        // 카드형식만들기
        function show(){
            $.ajax({
                type: 'GET',
                url : '/memo/read/',
                data :{},
                success:function(response){
                    let memos = response['memos'];
                    console.log(memos)
                    for(let i=0; i<memos.length; i++){
                        makeCard(
                            memos[i]['title'],
                            memos[i]['content'],
                            memos[i]['likes'],
                            memos[i]['_id'])
                    }
                }
            })
        }



            function makeCard(title, content, likes, memo_id){
                let tempHtml = 
                `<div class="card">
                <div class="card-body" id='cards-box'>
                <!-- 원래 제목과 내용을 보여주는 영역 -->
                <div id="original-memo-${memo_id}">
                <p class="card-title" id="title-${memo_id}">${title}</p>
                <p class="card-text" id="content-${memo_id}">${content}</p>
                <p> 따봉: <span class="likes">${likes}</span></p>
                <button class="delete-button" type="submit" onclick="deleteMemo('${memo_id}')">삭제</button>
                <button class="like-button" type="submit" onclick="likeMemo('${memo_id}')">좋음</button>
                </div>`
            


            $("#cards-box").append(tempHtml);
        }

        function deleteMemo(memo_id){
            $.ajax({
                type: 'POST',
                url: '/memo/delete',
                data: {memo_id:memo_id},
                success:function(response){
                    alert('메모가 삭제 되었유');
                    window.location.reload()
                }
            });
        }

        function likeMemo(memo_id){
            $.ajax({
                type:'POST',
                url:'/memo/like',
                data:{memo_id:memo_id},
                success:function(response){
                    alert('좋아요 추가 완료');
                    window.location.reload()
                }
            })
        }

        function editMemo(){}



    </script>


</head>
<body>
<div class="wrap">
    <div class="jumbotron">
        <div class="posting-box">
        <h1 class="titleName">나만의 메모장 2.0</h1>
            <div class="form-group">
                <label for="제목"></label>
                <input type ='title' id="memo-title" placeholder="제목을 입력하세요">

            <div class="form-group">
                <label for="내용"></label>
                <textarea class="form-control" id="memo-content" rows="3" placeholder="내용을 입력하세쵸"></textarea> 
            </div>
            <button class="btn btn-primary" onclick="readMemo()">저장하기</button>
        </div>
    </div>   
</div>


    <div id="cards-box" class="card-list">

            <!-- <div class="card">
                <div class="card-body">
                    <p class="card-title">첫번째 제목</a>
                    <p class="card-text">첫번째 내용 </p>
                    <p class ="card-likes"> 좋아요 수</p>

                     <button class="edit-button" type="submit">수정</button>
                     <button class="delete-button"type="submit">삭제</button>

                     <button class="like-button" type="submit">좋아요</button>

                </div> -->
            </div>
 





</body>
</html>