<!-- delete 같은 것을 함수명으로 쓰면 안된다. 예약어라서. 메이플 자리요 같은 개념-->

<!DOCTYPE html>
<html lang="en">
<head>

 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
           crossorigin="anonymous">

<!-- JS -->
       <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
           crossorigin="anonymous"></script>

<!-- 구글폰트 -->
       <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

       <!-- head 는 타이틀, 메타태그, 스타일시트(표시되지 않는 부분)
body는 본문영역(자바스크립트 영역) -->
    
    <title>나홀로 메모장 2.0</title>


    <style>
      * {
         font-family: 'Jua', sans-serif;
      }

      .wrap {
         width: 900px;
         margin: auto;
      }

      .btn-custom {
         background-color: #ffcc00;
         color: white;
         border: none;
         padding: 10px 20px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 16px;
         margin: 4px 2px;
         transition-duration: 0.4s;
         cursor: pointer;
      }

      .edit-button {
         background-color: #4CAF50;
         color: white;
      }

      .delete-button {
         background-color: #f44336;
         color: white;
      }

      .like-button {
         background-color: #008CBA;
         color: white;
      }

      .button-container {
         display: flex;
         justify-content: space-between; /* 각 버튼 사이의 간격을 균등하게 분배 */
         gap: 10px; /* 버튼 사이의 간격 */
      }

      #cards-box {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
         gap: 10px;
      }

    </style>

    <script>
    $(document).ready(function () {
            $("#cards-box").html("");
            show();
            });


        // 입력된 데이터 읽기
        function readMemo(){
            // id 값이 memo-title 인 곳을 가리키고, val() 로 값을 가져온다
            let title = $('#memo-title').val();
            let content = $('#memo-content').val()
            $.ajax({
                type: 'POST',
                url: '/memo/read/',
                data:{title_give:title, content_give:content},
                success: function (response) {
                if (response['result'] == 'success') {
                    alert("메모 불러오기 성공");
                    window.location.reload();
                    } else {
                        alert('서버오류')
                    }
                }
            })
        }

        // 카드형식만들기
        function show(){
            $.ajax({
                type: 'GET',
                url : '/memo/read/',
                data :{},
                success:function(response){
                    let memos = response['memos'];
                    console.log(memos)
                    for(let i=0; i<memos.length; i++){
                        makeCard(
                            memos[i]['title'],
                            memos[i]['content'],
                            memos[i]['likes'],
                            memos[i]['_id'])
                    }
                }
            })
        }



            function makeCard(title, content, likes, memo_id){
                let tempHtml = 
                `<div class="card">
                <div class="card-body" id='cards-box'>
                <!-- 원래 제목과 내용을 보여주는 영역 -->
                <div id="original-memo-${memo_id}">
                    <p class="card-title" id="original-title-${memo_id}">${title}</p>
                    <p class="card-text" id="original-content-${memo_id}">${content}</p>
                </div>

                <!-- 수정할 수 있는 입력란 영역 -->
                <div id="edit-area-${memo_id}" style='display:none;'>
                    <input type="text" id="edit-title-${memo_id}" value="${title}">
                    <div>
                    <textarea id="edit-content-${memo_id}">${content}</textarea>
                    </div>
                </div>

                <p> 따봉: <span class="likes">${likes}</span></p>   
                  <div class="button-container">
                     <button class="btn btn-custom edit-button" type="button" onclick="toggleArea('${memo_id}')">수정</button>
                     <button class="btn btn-custom save-button" type="button" style="display:none;" onclick="editMemo('${memo_id}')">저장</button>
                     <button class="btn btn-custom delete-button" type="button" onclick="deleteMemo('${memo_id}')">삭제</button>
                     <button class="btn btn-custom like-button" type="button" onclick="likeMemo('${memo_id}')">좋음</button>
                  </div>
               </div>
            </div>`;


            $("#cards-box").append(tempHtml);
        }



        function toggleArea(memo_id){
            $(`#original-memo-${memo_id}`).toggle();
            $(`#edit-area-${memo_id}`).toggle();
            $(`.edit-button-${memo_id}`).toggle();
            $(`.save-button-${memo_id}`).toggle();

            let originalTitle = $(`#original-title-${memo_id}`).text();
            let originalContent = $(`#original-content-${memo_id}`).text();
            $(`#edit-title-${memo_id}`).val(originalTitle);
            $(`#edit-content-${memo_id}`).val(originalContent)
        }


        function deleteMemo(memo_id){
            $.ajax({
                type: 'POST',
                url: '/memo/delete/',
                data: {memo_id:memo_id},
                success:function(response){
                    alert('메모가 삭제 되었유');
                    window.location.reload()
                }
            });
        }

        function likeMemo(memo_id){
            $.ajax({
                type:'POST',
                url:'/memo/like',
                data:{memo_id:memo_id},
                success:function(response){
                    alert('좋아요 추가 완료');
                    window.location.reload()
                }
            })
        }


        function hideShow(memo_id, title, content){
            // 현재 카드의 수정 버튼을 숨기고 저장 버튼을 표시되지
            $(`.edit-button-${memo_id}`).hide();
            $(`.save-button-${memo_id}`).show();
        }


        function editMemo(memo_id){
            let newTitle = $(`#edit-title-${memo_id}`).val();
            let newContent = $(`#edit-content-${memo_id}`).val();
            if (newTitle && newContent){
                $.ajax({
                    type: "POST",
                    url: '/memo/update/',
                    data: {
                        memo_id: memo_id,
                        title: newTitle,
                        content: newContent
                    },
                    success: function(response){
                        if(response.result == 'success') {
                            alert('메모가 수정되었슴둥');
                            $(`#edit-area-${memo_id}`).hide();
                            $(`.card-title-${memo_id}`).text(newTitle);
                            $(`.card-text-${memo_id}`).text(newContent);
                            window.location.reload();
                        } else {
                            alert('메모 수정에 실패했습니다.');
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('메모 수정 중 오류가 발생했습니다.');
                    }
                });
            } else {
                alert('제목과 내용을 모두 입력해주세요.');
            }
        }



    </script>


</head>
<body>
<div class="wrap">
    <div class="jumbotron">
        <div class="posting-box">
        <h1 class="titleName">나만의 메모장 2.0</h1>
            <div class="form-group">
                <label for="제목"></label>
                <input type ='text' id="memo-title" placeholder="제목을 입력하세요">

            <div class="form-group">
                <label for="내용"></label>
                <textarea class="form-control" id="memo-content" rows="3" placeholder="내용을 입력하세쵸"></textarea> 
            </div>
            <button class="btn btn-primary" onclick="readMemo()">저장하기</button>
        </div>
    </div>   
</div>


    <div id="cards-box" class="card-list">

            <!-- <div class="card">
                <div class="card-body">
                    <p class="card-title">첫번째 제목</a>
                    <p class="card-text">첫번째 내용 </p>
                    <p class ="card-likes"> 좋아요 수</p>

                     <button class="edit-button" type="submit">수정</button>
                     <button class="delete-button"type="submit">삭제</button>

                     <button class="like-button" type="submit">좋아요</button>

                </div> -->
            </div>
 





</body>
</html>